.superInput {
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 2px 2px 4px rgba(0, 0, 0, 0.24), inset -8px -8px 15px rgba(255, 255, 255, 0.02), inset 8px 8px 15px rgba(10, 46, 82, 0.21);
    border-radius: 15px;
    border: none;
    padding: 6px 12px;
}
.superInput:focus{
    outline: none;
}

.errorInput {
    /*box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 2px 2px 4px rgba(0, 0, 0, 0.24), inset -8px -8px 15px rgba(255, 255, 255, 0.02), inset 8px 8px 15px rgba(255, 0, 0, 0.34);*/
    border: solid rgba(255, 0, 0, 0.6) 1px;

}

.error {
    display: flex;

}

.inputContainer{
    display: block;
}

