.main {
    width: 100%;
    padding: 24px 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search {
    width: 80%;
}

.paginationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main a {
    text-decoration:none;
}

.main a img{
   width: 30px;
}
