.main {
    width: 100%;
    padding: 24px 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.search {
    width: 80%;
}
.paginationWrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.pageSizeSelectorWrapper {
    position: absolute;
    left: 0;
}
